{% load static %}

{% include 'base.html' %}

{% block body %}
<h2>Category</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <img src="media/{{ category.image }}" alt="{{ category.name }}">
            </td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}