{% load static %}

{% include 'base.html' %}

{% block body %}
<h2>Category</h2>
<a class="btn btn-primary" href="{% url 'category_add' %}">Add (+)</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <img src="http://127.0.0.1:8000/media/{{ category.image }}" alt="{{ category.name }}" height="75">
            </td>
            <td><a type="button" class="btn btn-danger" href="{% url 'category_delete' category.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}