{% load static %}

{% include 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h2>Products in stock now <i>{{total_inventory_products_count}} pcs</i> now.</h2>
    <h4>Available <i>{{ total_products }}</i> products in <i>{{ total_categories }}</i> categories.</h4>
    <h3>Current customer <i>{{ total_customers }} persons</i>.</h3>
    <h3>Current supplier <i>{{ total_suppliers }} persons</i>.</h3>
</div>
<h2>Customer added last 7 days</h2>
<a class="btn btn-primary" href="{% url 'customer_list' %}">View All Customer (+)</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>E-mail</th>
            <th>Cell No</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.cell }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Supplier added last 7 days</h2>
<a class="btn btn-primary" href="{% url 'supplier_list' %}">View All Supplier (+)</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>E-mail</th>
            <th>Cell No</th>
        </tr>        
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.address }}</td>
            <td>{{ supplier.email }}</td>
            <td>{{ supplier.cell }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Purchased last 7 days</h2>
<a class="btn btn-primary" href="{% url 'purchase_list' %}">View All Purchases (+)</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th>Date</th>
        </tr>        
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.product }}</td>
            <td>{{ purchase.quantity }}</td>
            <td>{{ purchase.supplier }}</td>
            <td>{{ purchase.added_date_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Sale last 7 days</h2>
<a class="btn btn-primary" href="{% url 'sale_list' %}">View All Sales (+)</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>        
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.customer }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.inventory.product.name }}</td>
            <td>{{ sale.added_date_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}