{% load static %}

{% include 'base.html' %}

{% block body %}
<h2>Purchase</h2>
<a class="btn btn-primary" href="{% url 'supplier_list' %}">Supplier List (+)</a>
<a class="btn btn-primary" href="{% url 'purchase_add' %}">Add (+)</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th>Date</th>
        </tr>        
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.product }}</td>
            <td>{{ purchase.quantity }}</td>
            <td>{{ purchase.supplier }}</td>
            <td>{{ purchase.added_date_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}